# Temporary git ignores. Remove these when changing repos
android/test-server
lib/calabash/android/environment.rb
lib/calabash/android/build/java_keystore.rb
playground/
# End of temporary git ignores

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem

# rbenv and rvm
.ruby-version
.ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# RubyMine
.idea

# MacOS
.DS_Store
__MACOSX

# emacs
(.*/)?\#[^/]*\#$
old/*

# Android test server
lib/calabash/android/lib/TestServer.apk

# irb
.irb-history
